@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$priCol: #ffffff;
$secCol: #000000;
$accCol: #763b83;
$divCol: #ffffff;
$nbCol: #513258;
$nbCol2: #38233d;
$bgCol: #381e38;
$bgCol2: #141415;


body {
    background-image: linear-gradient(100deg, $bgCol, $bgCol);
    transition: 0.3s linear;
    margin: 0;
    font-family: 'Work Sans';
    overflow: hidden;
    min-height: 100vh
}

.navbar {
    background-color: $bgCol;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 20px 40px #0c00049c;
    background-image: linear-gradient(to top, $nbCol, $nbCol2);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    user-select: none;
    pointer-events: none;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

    .logo {
        text-decoration: none;
        font-weight: 700;
        color: $secCol;
        font-size: 2em;
        pointer-events: auto;

        span {
            color: $priCol;
            text-shadow: $accCol 0px 0px 25px;
        }

        &:hover {
            text-shadow: $accCol 0px 0px 25px;
            transition: 0.7s;
        }
    }

    .primaryNav {
        display: flex;
        text-decoration-line: none;
        font-size: 2em;
        pointer-events: auto;
        span {
            color: $divCol;
        }
        .exploitsNavButton {
            text-shadow: $accCol 0px 0px 0px;
            &:hover {
                text-shadow: $accCol 0px 0px 25px;
                transition: 0.7s;
            }
        }
        .homeNavButton {
            text-shadow: $accCol 0px 0px 0px;
            &:hover {
                text-shadow: $accCol 0px 0px 25px;
                transition: 0.7s;
            }
        }
        .gamesNavButton {
            text-shadow: $accCol 0px 0px 0px;
            &:hover {
                text-shadow: $accCol 0px 0px 25px;
                transition: 0.7s;
            }
        }
        .proxiesNavButton {
            text-shadow: $accCol 0px 0px 0px;
            &:hover {
                text-shadow: $accCol 0px 0px 25px;
                transition: 0.7s;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 2400px;
        margin: 0 auto;
    }

    .rightNavItems {
        display: flex;
        gap: 1em;
        cursor: pointer;
        #blankOpener {
            width: 70px;
            height: 90%;
            cursor: pointer;
            pointer-events: auto;
        }
        #panicButton {
            width: 70px;
            height: 35%;
            cursor: pointer;
            pointer-events: auto;
        }
    }

    nav {
        display: flexbox;
    }
}

.githubCorner {
    cursor: pointer;
}

a {
    color: $accCol;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}