@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #e70056;
    --link-color: #e70056;
    --div-color: #ffffff;
    --navBar-color: #25252a;
    --navBar2-color: #4c4c4f;
    --background-color: #060607;
    --background2-color: #141415;
    --primaryLight-color: #ffdce9;
    --primaryDark-color: #430019;
}

body {
    background-image: linear-gradient(100deg, var(--background-color), var(--background2-color));
    transition: 0.3s linear;
    margin: 0;
    font-family: 'Work Sans';
    overflow: hidden;
    min-height: 100vh
}

.navbar {
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    background-color: var(--background-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 20px 40px #0c00049c;
    background-image: linear-gradient(to top, var(--navBar-color), var(--navBar2-color));
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    user-select: none;
    pointer-events: none;

    .logo {
        text-decoration: none;
        font-weight: 700;
        color:var(--secondary-color);
        font-size: 2em;
        pointer-events: auto;

        span {
            color: var(--primary-color);
            text-shadow: #e70056 0px 0px 25px;
        }

        &:hover {
            text-shadow: #e70056 0px 0px 25px;
            transition: 0.7s;
        }
    }

    .primaryNav {
        display: flex;
        text-decoration-line: none;
        font-size: 2em;
        pointer-events: auto;
        span {
            color: var(--div-color);
        }
        .exploitsNavButton {
            text-shadow: #e70056 0px 0px 0px;
            &:hover {
                text-shadow: #e70056 0px 0px 25px;
                transition: 0.7s;
            }
        }
        .homeNavButton {
            text-shadow: #e70056 0px 0px 25px;
        }
        .gamesNavButton {
            text-shadow: #e70056 0px 0px 0px;
            &:hover {
                text-shadow: #e70056 0px 0px 25px;
                transition: 0.7s;
            }
        }
        .proxiesNavButton {
            text-shadow: #e70056 0px 0px 0px;
            &:hover {
                text-shadow: #e70056 0px 0px 25px;
                transition: 0.7s;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 2400px;
        margin: 0 auto;
    }

    .rightNavItems {
        display: flex;
        gap: 1em;
        cursor: pointer;
        #blankOpener {
            width: 70px;
            height: 90%;
            cursor: pointer;
            pointer-events: auto;
        }
        #panicButton {
            width: 70px;
            height: 35%;
            cursor: pointer;
            pointer-events: auto;
        }
    }

    nav {
        display: flexbox;
    }
}
.githubCorner {
    box-shadow: 0px 0px -40px rgba(0, 0, 0, 1);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}
