@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {

    --secondary-color: #e70056;
    --glow-color: #e70056;

}

.cool-graphic {
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center align text horizontally */
    user-select: none;
    cursor: default;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

    .letter-container {
        display: flex; /* Display letters horizontally */
        align-items: center; /* Center align letters vertically */
        justify-content: center; /* Center align letters horizontally */
        font-family: 'Orbitron'; /* Use 'Orbitron' as the font family */
        .letter {
            font-size: 11rem;
            font-weight: 900;
            transform-origin: bottom;
            transition: font-size 0.4s ease-in-out, transform-origin 0.3s ease-in-out;
            color: #ffffff;
            text-shadow: 0 0 0px var(--glow-color);

            &:hover {
                font-size: 12rem; /* Increase font size on hover */
                text-shadow: 0 0 40px var(--glow-color); /* Add text glow on hover */
                transform-origin: bottom; /* Adjust transform origin to the bottom */
            }

            &:not(:last-child) {
                margin-right: 1rem; /* Add spacing between letters */
            }
        }

    #z {
        color: #e70056; /* Set color to #e70056 for 'Z' */
        font-size: 8em;
        text-shadow: 0 0 70px var(--glow-color);
    }
    }

    .version-info {
        font-size: 2rem; /* Set the font size for the version info */
        color: #e70056; /* Set the color to #e70056 */
        text-shadow: 0 0 20px var(--glow-color);
        font-family: 'Orbitron'; /* Use 'Orbitron' as the font family */
    }
  .crllect-info {
        font-family: 'Orbitron'; /* Use 'Orbitron' as the font family */
        font-size: 2.5rem; /* Set the font size for 'crllect' */
        color: #e70056; /* Set the color to #e70056 */
        text-shadow: 0 0 20px var(--glow-color); /* Add text shadow for 'crllect' */
        margin-top: 3em;
        position: absolute;
        top: 0; /* Adjust the top value as needed */
        z-index: 9999; /* Set the z-index to a value greater than the canvas */
        cursor: pointer;
        #llect {
        color: #ffffff;
        text-shadow: 0 0 0px var(--glow-color);
        }

        .letter {
            font-weight: 200; /* Set font weight for 'C' */
        }
    }
}
